.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.logoBar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand {
  font-size: large;
  font-weight: 700;
  color: #fe604a;
}
.logo {
  position: relative;
}
.navItems {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid #f0f1f4;
  border-radius: 2rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background-color: #08184b;
  color: white;
}
.navItem:hover {
  transform: translateY(-2px);
}

.navItem:focus {
  outline: none;
}
.navBar {
  height: 10vh;
  width: 95vw;
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
}